extends layout

block content

    if (message_ok)
        +alert("success") #{message_ok}

    if (message_error)
        +alert("danger") #{message_error}

    #userFormModal.modal(tabindex="-1", role="dialog", aria-labelledby="userModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#userModalLabel.modal-title User data
                #user_modalBody.modal-body
                    .row#userFormBox
                        col-md-12
                            form#userForm.form-horizontal
                                .form-group
                                    label.col-md-4.control-label(for="user_username") Username
                                    .col-md-6
                                        input#user_username.form-control(type='text', name="username", placeholder='Username', readonly=true)
                                .form-group
                                    label.col-md-4.control-label(for="user_name") Name
                                    .col-md-6
                                        input#user_name.form-control(type='text', name="name", placeholder='Name', required=true)
                                .form-group
                                    label.col-md-4.control-label(for="user_surname") Surname
                                    .col-md-6
                                        input#user_surname.form-control(type='text', name="surname", placeholder='Surname', required=true)
                                .form-group
                                    label.col-md-4.control-label(for="user_organization") Organization
                                    .col-md-6
                                        input#user_organization.form-control(type='text', name="organization", placeholder='Organization/affiliation')
                                .form-group
                                    label.col-md-4.control-label(for="user_email") eMail
                                    .col-md-6
                                        input#user_email.form-control(type='email', name="email", placeholder='eMail')
                                .form-group
                                    label.col-md-4.control-label(for="user_roles") Roles
                                    .col-md-6
                                        //input#user_roles.form-control(type="text", name='roles', placeholder="Roles")
                                        select#user_roles.form-control(name="roles", data-btn-class="", data-size="auto")
                                            option(value="student", selected) student
                                            option(value="teacher") teacher
                                            option(value="admin, teacher") admin, teacher
                                            option(value="admin") admin
                                .form-group
                                    label.col-md-4.control-label(for="user_keywords") Keywords
                                    .col-md-6
                                        input#user_keywords.form-control(type="text", name='keywords', placeholder="Keywords")
                                .form-group
                                    label.col-md-4.control-label(for="user_password_group") Password
                                    .col-lg-6
                                        .input-group#user_password_group
                                            span.input-group-addon
                                                input#user_change_psw(type="checkbox" value="")
                                            input#user_password.form-control(type="password", name='password', placeholder="Password", disabled)
                                        p#user_passwordHelpBlock.form-text.text-muted
                                            | If no password is provided, the user will be created with the default password <strong>mcv_2016</strong>


                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                    button#btnAcceptUser.btn.btn-primary(type="button" data-action="none") Save changes

    #periodFormModal.modal(tabindex="-1", role="dialog", aria-labelledby="periodModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#periodModalLabel.modal-title Period data
                .modal-body
                    #period_modalBody.modal-body
                        .row#periodFormBox
                            col-md-12
                                form#periodForm.form-horizontal
                                    input#period_id(type="hidden" name="id")
                                    .form-group
                                        label.col-md-4.control-label(for="period_title") Title
                                        .col-md-6
                                            input#period_title.form-control(type='text', name="title", placeholder='Title', required=true)
                                    .form-group
                                        label.col-md-4.control-label(for="period_start") Start date
                                        .col-md-6
                                            input#period_start.form-control(name="start", type="date", placeholder="Start date")
                                    .form-group
                                        label.col-md-4.control-label(for="period_end") End Date
                                        .col-md-6
                                            input#period_end.form-control(name="end", type="date", placeholder="End date")

                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                    button#btnAcceptPeriod.btn.btn-primary(type="button") Save changes
    #trackFormModal.modal(tabindex="-1", role="dialog", aria-labelledby="trackModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#trackModalLabel.modal-title Track data
                .modal-body
                    #track_modalBody.modal-body
                        .row#trackFormBox
                            col-md-12
                                form#trackForm.form-horizontal
                                    input#track_id(type="hidden" name="id")
                                    input#track_period_id(type="hidden" name="period_id")
                                    .form-group
                                        label.col-md-4.control-label(for="track_title") Title
                                        .col-md-6
                                            input#track_title.form-control(type='text', name="title", placeholder='Title', required=true)
                                    .form-group
                                        label.col-md-4.control-label(for="track_keywords") Keywords
                                        .col-md-6
                                            input#track_keywords.form-control(name="keywords", type="text", placeholder="Keywords")

                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                    button#btnAcceptTrack.btn.btn-primary(type="button") Save changes

    #slotFormModal.modal(tabindex="-1", role="dialog", aria-labelledby="slotModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#slotModalLabel.modal-title Slot data
                .modal-body
                    #slot_modalBody.modal-body
                        .row#slotFormBox
                            col-md-12
                                form#slotForm.form-horizontal
                                    input#slot_id(type="hidden" name="id")
                                    input#slot_track_id(type="hidden" name="track_id")
                                    .form-group
                                        label.col-md-4.control-label(for="slot_place") Place
                                        .col-md-6
                                            input#slot_place.form-control(type='text', name="place", placeholder='Place', required=true)
                                            p.form-text.text-muted
                                                | Address, building.
                                    .form-group
                                        label.col-md-4.control-label(for="slot_room") Room
                                        .col-md-6
                                            input#slot_room.form-control(type='text', name="room", placeholder='Room', required=true)
                                            p.form-text.text-muted
                                                | Room name or code.
                                    .form-group
                                        label.col-md-4.control-label(for="slot_date") Date
                                        .col-md-6
                                            input#slot_date.form-control(name="date", type="date", placeholder="Date")
                                    .form-group
                                        label.col-md-4.control-label(for="slot_start_time") Start time
                                        .col-md-6
                                            input#slot_start_time.form-control(name="start_time", type="time", placeholder="Start")
                                    .form-group
                                        label.col-md-4.control-label(for="slot_end_time") End time
                                        .col-md-6
                                            input#slot_end_time.form-control(name="end_time", type="time", placeholder="End")
                                    .form-group
                                        label.col-md-4.control-label(for="slot_capacity") Capacity
                                        .col-md-6
                                            input#slot_capacity.form-control(type='text', name="capacity", placeholder='Capacity', required=true)
                                            p.form-text.text-muted
                                                | Number of theses that can be defended in this slot
                                    .form-group
                                        label.col-md-4.control-label(for="slot_duration") Thesis Duration
                                        .col-md-6
                                            input#slot_duration.form-control(type='text', name="duration", placeholder='Duration', required=true)
                                            p.form-text.text-muted
                                                | Duration in minutes of each thesis defense
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                    button#btnAcceptSlot.btn.btn-primary(type="button") Save changes

    #institutionFormModal.modal(tabindex="-1", role="dialog", aria-labelledby="institutionModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#institutionModalLabel.modal-title Institution data
                .modal-body
                    #institution_modalBody.modal-body
                        .row#slotFormBox
                            col-md-12
                                form#institutionForm.form-horizontal
                                    input#institution_id(type="hidden" name="id")
                                    .form-group
                                        label.col-md-4.control-label(for="institution_acronym") Acronym
                                        .col-md-6
                                            input#institution_acronym.form-control(type='text', name="acronym", placeholder='Acronym', required=true)
                                            p.form-text.text-muted
                                                | A short name that must be unique
                                    .form-group
                                        label.col-md-4.control-label(for="institution_name") Name
                                        .col-md-6
                                            input#institution_name.form-control(type='text', name="name", placeholder='Name', required=true)
                                            p.form-text.text-muted
                                                | Long name of the institution
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                    button#btnAcceptInstitution.btn.btn-primary(type="button") Save changes

    +panel("User management", "primary")
        #userForm_messages
        p Allow to create new users, or assign the roles to existing users:
        ul
            li <strong>Teacher:</strong> Can create new theses and require to be in the committee of an existing thesis
            li <strong>Admin:</strong> Can create new user, change the roles of the users. Can create periods, tracks and slots.

        #usersTable-toolbar
            .form-inline(role="form")
                .btn-group
                    button#btnAddUser.btn.btn-default.btn-lg(type="button", data-action="add")
                        span.glyphicon.glyphicon-plus-sign(aria-hidden="true")
                    button#btnEditUser.btn.btn-default.btn-lg.disabled(type="button", data-action="edit")
                        span.glyphicon.glyphicon-pencil(aria-hidden="true")
                    button#btnDelUser.btn.btn-danger.btn-lg.disabled(type="button")
                        span.glyphicon.glyphicon-trash(aria-hidden="true")

        table#usersTable(data-toggle="table", data-url="/admin/users", data-sort-name="surname",
                data-sort-order="asc", data-pagination="true", data-search="true", data-page-list="[5, 10, 20, 50, 100, 200]",
                data-toolbar="#usersTable-toolbar", data-show-refresh="true", data-show-toggle="false", data-show-columns="true",
                data-click-to-select="true", data-select-item-name="selUser", data-page-size="5")
            thead
                tr
                    th(data-field="state" data-radio="true" data-switchable="false")
                    th(data-field="username", data-sortable="true" data-switchable="false") Username
                    th(data-field="name", data-sortable="true") Name
                    th(data-field="surname", data-sortable="true") Surname
                    th(data-field="email") Email
                    th(data-field="organization", data-sortable="true") Organization
                    th(data-field="roles") Roles
                    th(data-field="keywords") Keywords

    +panel("Institution management", "primary")
        #institutionForm_messages
        p Allow to create new institutions.
        #institutionTable-toolbar
            .form-inline(role="form")
                .btn-group
                    button#btnAddInstitution.btn.btn-default.btn-lg(type="button", data-action="add")
                        span.glyphicon.glyphicon-plus-sign(aria-hidden="true")
                    button#btnEditInstitution.btn.btn-default.btn-lg.disabled(type="button", data-action="edit")
                        span.glyphicon.glyphicon-pencil(aria-hidden="true")
                    button#btnDelInstitution.btn.btn-danger.btn-lg.disabled(type="button")
                        span.glyphicon.glyphicon-trash(aria-hidden="true")

        table#institutionTable(data-toggle="table", data-url="/admin/institutions", data-sort-name="acronym",
                data-sort-order="asc", data-pagination="true", data-search="true", data-page-list="[5, 10, 20, 50, 100, 200]",
                data-toolbar="#institutionTable-toolbar", data-show-refresh="true", data-show-toggle="false", data-show-columns="true",
                data-click-to-select="true", data-select-item-name="selInst", data-page-size="5")
            thead
                tr
                    th(data-field="state" data-radio="true" data-switchable="false")
                    th(data-field="id", data-sortable="true", data-visible="false") Id
                    th(data-field="acronym", data-sortable="true" data-switchable="false") Acronym
                    th(data-field="name", data-sortable="true") Name
                    th(data-field="validated") Validated


    +panel("Schedule management", "primary")
        #periodForm_messages
        p Allow to create and organize the evaluation slots:
            ul
                li <strong>Period:</strong> Evaluation period, when theses can be defended. Each period have different thematic tracks.
                li <strong>Track:</strong> Logic aggregation of theses with similar topics. Each track have different defense slots.
                li <strong>Slot:</strong> Place and moment when a thesis can be defended.
        p Select a period in order to manage the tracks, slots and thesis assignation

        .panel.panel-default.margin-bottom-40
            .panel-heading
                .panel-title
                    i.fa.fa-calendar #{' '} Periods
            .panel-body
                #periodTable-toolbar
                    .form-inline(role="form")
                        .btn-group
                            button#btnAddPeriod.btn.btn-default.btn-lg(type="button")
                                span.glyphicon.glyphicon-plus-sign(aria-hidden="true")
                            button#btnEditPeriod.btn.btn-default.btn-lg.disabled(type="button")
                                span.glyphicon.glyphicon-pencil(aria-hidden="true")
                            button#btnDelPeriod.btn.btn-danger.btn-lg.disabled(type="button")
                                span.glyphicon.glyphicon-trash(aria-hidden="true")

                table#periodsTable(data-toggle="table", data-url="/admin/periods", data-sort-name="start",
                            data-page-list="[5, 10, 20, 50, 100, 200]", data-page-size="5",
                            data-sort-order="desc", data-click-to-select="true", data-select-item-name="selPeriod",
                            data-pagination="true", data-search="true", data-toolbar="#periodTable-toolbar",
                            data-show-refresh="true", data-show-toggle="false", data-show-columns="true")
                    thead
                        tr
                            th(data-field="state" data-radio="true")
                            th(data-field="id", data-sortable="true", data-visible="false") Id
                            th(data-field="title", data-sortable="true") Period
                            th(data-field="start", data-sortable="true", data-formatter="dateFormatter") Start Date
                            th(data-field="end", data-sortable="true", data-formatter="dateFormatter") End Date
                            th(data-field="active", data-sortable="true") Active
                            th(data-field="closed", data-sortable="true") Closed

                #slots_panel.panel.panel-info.margin-bottom-40(style="display: none;")
                    #treeForm_messages
                    .panel-heading
                        .panel-title
                            i.fa.fa-edit
                    .panel-body
                        p Select a period to add tracks.
                        p Select a track to add slots.
                        p Select a slot to assign theses. Each slot have the number of remaining theses that can be assigned.

                        #slotsTree-toolbar.btn-toolbar.mcv-toolbar(role="toolbar")
                            .btn-group(role="group")
                                button#btnRefresh.btn.btn-default.btn-lg(type="button", data-action="add")
                                    span.glyphicon.glyphicon-refresh(aria-hidden="true")
                            .btn-group(role="group")
                                button#btnAddElement.btn.btn-default.btn-lg.disabled(type="button", data-action="add")
                                    span.glyphicon.glyphicon-plus-sign(aria-hidden="true")
                                button#btnEditElement.btn.btn-default.btn-lg.disabled(type="button", data-action="edit")
                                    span.glyphicon.glyphicon-pencil(aria-hidden="true")
                                button#btnDelElement.btn.btn-danger.btn-lg.disabled(type="button")
                                    span.glyphicon.glyphicon-trash(aria-hidden="true")
                            .btn-group(role="group")
                                button#btnThesisUp.btn.btn-default.btn-lg.disabled(type="button", data-action="add")
                                    span.glyphicon.glyphicon-arrow-up(aria-hidden="true")
                                button#btnThesisDown.btn.btn-default.btn-lg.disabled(type="button", data-action="edit")
                                    span.glyphicon.glyphicon-arrow-down(aria-hidden="true")
                                button#btnThesisRemove.btn.btn-default.btn-lg.disabled(type="button")
                                    span.glyphicon.glyphicon-remove(aria-hidden="true")

                            .btn-group(role="group")
                                button#btnFixOrder.btn.btn-default.btn-lg(type="button", data-action="fixorder")
                                    span.glyphicon.glyphicon-sort(aria-hidden="true")


                        .row
                            .col-xs-6.col-md-4
                                #slots_tree
                            .col-xs-12.col-md-8
                                #panel_unassignedTheses.panel-group
                                #thesisPagination.pagination

block scripts
    script
        include ../public/dist/scripts.js
        include ../public/dist/admin/users.js
        include ../public/dist/admin/institutions.js
        include ../public/dist/admin/periods.js
        include ../public/dist/admin/tracks.js
