extends layout

block content
    if (message_ok)
        +alert("success") #{message_ok}

    if (message_error)
        +alert("danger") #{message_error}
    #thesisForm_messages
    #thesisFormModal.modal(tabindex="-1", role="dialog", aria-labelledby="thesisModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4#thesisModalLabel.modal-title Thesis data
                #thesis_modalBody.modal-body
                    .row#thesisFormBox
                        col-md-12
                            form#thesisForm.form-horizontal
                                input#thesis_id(type="hidden" name="id")
                                input#author_username(type="hidden" name="username")
                                .form-group
                                    label.col-md-4.control-label(for="author") Author
                                    .col-md-6
                                        input#author.form-control(type='text', name="author", placeholder='Author')
                                .form-group
                                    label.col-md-4.control-label(for="title") Title
                                    .col-md-6
                                        input#title.form-control(type='text', name="title", placeholder='Title')
                                .form-group
                                    label.col-md-4.control-label(for="abstract") Abstract
                                    .col-md-6
                                        //input#abstract.form-control(type='textarea', name="abstract", placeholder='Abstract', required=true)
                                        textarea#abstract.form-control(rows="10", name="abstract", placeholder='Abstract')
                                .form-group
                                    label.col-md-4.control-label(for="keywords") Keywords
                                    .col-md-6
                                        input#keywords.form-control(type='text', name="keywords", placeholder='Keywords')
                                .form-group
                                    label.col-md-4.control-label(for="advisors") Advisors
                                    .col-md-6
                                        input#advisors.form-control(type='text', name="advisors", placeholder='Advisors')
                                .form-group
                                    label.col-md-4.control-label(for="nda") This thesis requires to sign an NDA
                                    .col-md-6
                                        input#nda.form-control(type='checkbox', name="nda", placeholder='This thesis requires an NDA')
                                .form-group
                                    label.col-md-4.control-label(for="virtual_room") Virtual Room URL
                                    .col-md-6
                                        input#virtual_room.form-control(type='text', name="virtual_room", placeholder='Virtual Room URL')
                                .form-group
                                    label.col-md-4.control-label(for="rubrics_folder") Rubrics URL
                                    .col-md-6
                                        input#rubrics_folder.form-control(type='text', name="rubrics_folder", placeholder='Rubrics Folder')
                .modal-footer
                    button.btn.btn-secondary(type="button" data-dismiss="modal") Close
                    button#btnAcceptThesis.btn.btn-primary(type="button" data-action="none") Save changes
    #thesis-toolbar.btn-toolbar.mcv-toolbar(role="toolbar")
        .btn-group(role="group")
            button#btnNewThesis.btn.btn-default.btn-lg(type="button", data-action="add")
                span.glyphicon.glyphicon-plus-sign(aria-hidden="true")
            button#btnRefresh.btn.btn-default.btn-lg(type="button", data-action="add")
                span.glyphicon.glyphicon-refresh(aria-hidden="true")

    +panel("My Theses", "primary")

        #panel_myThesis.panel-group

    +panel("Advised Theses", "primary")

        #panel_advisedThesis.panel-group

    if user && user.teacher

        .panel.panel-default.margin-bottom-40
            .panel-heading
                .panel-title
                    i.fa.fa-calendar #{' '} Active Theses
            .panel-body
                table#thesesTable(data-toggle="table", data-url="/thesis/open", data-sort-name="title",
                data-page-list="[20, 50, 100, 200]", data-page-size="20", data-side-pagination="client",
                data-sort-order="asc", data-pagination="true", data-search="true"
                data-show-refresh="true", data-show-toggle="false", data-show-columns="true")
                    thead
                        tr
                            th(data-field="id", data-sortable="true", data-visible="false") Id
                            th(data-field="User.full_name", data-sortable="false") Author
                            th(data-field="title", data-sortable="true") Title
                            th(data-field="id", data-formatter="getAdvisorsValue") Advisors
                            th(data-field="id", data-formatter="getSlotInfo") Presentation
                            th(data-field="id", data-formatter="getCommitteeValue") Committee
                            th(data-field="id", data-formatter="getActionButtons") Actions

block scripts
    script
        include ../public/dist/scripts.js
        include ../public/dist/thesis/scripts.js
