p
    = `Dear ${learner_name},`
p We inform you that your Master Thesis Evaluation Committee has been decided.
p The details of your defense are here:
ul
    li <strong>Author:</strong>
        = ` ${learner_name} <${learner_mail}>`
    li <strong>Title:</strong>
        = ` ${title}`
    li <strong>Advisors:</strong>
        = ` ${advisors}`
    li <strong>Committee:</strong>
        ul
            li <strong>President:</strong>
                = `${president}`
            li <strong>Secretary:</strong>
                = ` ${secretary}`
            li <strong>Vocal:</strong>
                = ` ${vocal}`

    li <strong>Defense date:</strong>
        = ` ${date} from ${start} to ${end}`
    li <strong>Virtual Room URL:</strong>
        a(href=`${virtual_room}`)
            = ` ${virtual_room}`

p We kindly request you that once you have uploaded the last version of your Msc Dissertation report to the M9 moodle room, you must send it to all members of the committee.
p Virtual Room will be accessible <b>15 minutes</b> before the presentation. Once in the room, someone of the committee will give grant you with presentation rights.
p You must directly <b>send your Msc Dissertation report to the committee members</b>, the same version you have to <b>upload to the M9 moodle room</b>.
p You must restrict the presentation of your work to a maximum of 20 minutes.
p After the presentation, you will respond the questions of the evaluation committee.

p Kind regards

p MCV M9 Coordination
p Please <strong>do not respond</strong> to this email, if more information is required, please contact M9 coordinators.
