p
    = `Dear ${learner_name},`
p The details of the evaluation committee for your Master Dissertation are the following:
ul
    li <strong>Author:</strong>
        = ` ${learner_name} <${learner_mail}>`
    li <strong>Title:</strong>
        = ` ${title}`
    li <strong>Advisors:</strong>
        = ` ${advisors}`
    li <strong>Committee:</strong>
        ul
            li <strong>President:</strong>
                = `${president}`
            li <strong>Secretary:</strong>
                = ` ${secretary}`
            li <strong>Vocal:</strong>
                = ` ${vocal}`
    li <strong>Defense date:</strong>
        = ` ${date} from ${start} to ${end}`
    li <strong>Place:</strong>
        = ` ${place} - ${room} `
        | (<a href="https://goo.gl/maps/nULM4dmFgp2cqJBi7">map</a>)

p You should have <b>sent your Msc Dissertation report to the committee members</b>, it must be the same version you <b>uploaded to the M9 moodle room</b>.
p For your defence you must restrict the presentation of your work to <b>a maximum of 20 minutes</b>. After the presentation, you will have to respond the questions of the evaluation committee. Once compiled all the marks they will be published at the moodle room of the UAB Virtual Campus (cv.uab.cat), you will receive an e-mail when they are published.
p After the master defences, <b>ACMCV will start at the Computer Vision Center</b>. Do not forget to register for ACMCV at <a href="http://acmcv.cat/">acmcv.cat</a>, where you can see the full program. We want to highlight that Dr. Antonio Torralba from MIT (USA) will join us virtually to give a <b>Plenary Talk</b> at 7pm, that we will follow from the CVC Garden. After the <b>Oral talks</b>, we will give the <b>Awards</b> to the Top5 best students of this year and to the best Master Dissertation.
p If this project has been done in the frame of an Educational Agreement, please extend this invitation to the company members you consider that can attend the defence and register for the ACMCV.
p Kind regards

p MCV M9 Coordination
p Please <strong>do not respond</strong> to this email, if more information is required, please contact M9 coordinators.
