p
    = `Dear ${learner_name},`
p we remind you that your Master thesis defense committee has been defined. We kindly request you to send your manuscript in PDF format to the members of the committee.
p The details of the defense are:
ul
    li <strong>Author:</strong>
        = ` ${learner_name} <${learner_mail}>`
    li <strong>Title:</strong>
        = ` ${title}`
    li <strong>Advisors:</strong>
        = ` ${advisors}`
    li <strong>Abstract:</strong>
        = ` ${abstract}`
    li <strong>Committee:</strong>
        ul
            li <strong>President:</strong>
                = `${president}`
            li <strong>Secretary:</strong>
                = ` ${secretary}`
            li <strong>Vocal:</strong>
                = ` ${vocal}`
    li <strong>Place:</strong>
        = ` ${place} - ${room}`
    li <strong>Defense date:</strong>
        = ` ${date} from ${start} to ${end}`

p You must directly <b>send your Msc Dissertation report to the committee members</b>, the same version you have to <b>upload to the M9 moodle room</b>.
p You must restrict the presentation of your work to a maximum of 20 minutes.
p After the presentation, you will respond the questions of the evaluation committee.

p Kind regards

p MCV M9 Coordination
p Please <strong>do not respond</strong> to this email.
