p Dear committee members,
p we remind you that you are part of the following defense committee:
ul
    li <strong>Author:</strong>
        = ` ${learner_name} <${learner_mail}>`
    li <strong>Title:</strong>
        = ` ${title}`
    li <strong>Advisors:</strong>
        = ` ${advisors}`
    li <strong>Abstract:</strong>
        = ` ${abstract}`
    li <strong>Committee:</strong>
        ul
            li <strong>President:</strong>
                = `${president}`
            li <strong>Secretary:</strong>
                = ` ${secretary}`
            li <strong>Vocal:</strong>
                = ` ${vocal}`
    li <strong>Place:</strong>
        = ` ${place} - ${room}`
    li <strong>Defense date:</strong>
        = ` ${date} from ${start} to ${end}`
    li <strong>Virtual Room URL:</strong>
        a(href=`${virtual_room}`)
            = ` ${virtual_room}`
p Virtual Room will be accessible <b>15 minutes</b> before the presentation. Once in the room, someone will give moderation rights to all the members of the committee. In case of technical issues, call Xavier Baró at 656.390.611.
p Find enclosed the evaluation form that must be filled in by the committee.
p The supervisor/s must send the evaluation form to the tribunal before the defence.
p Students must restrict the presentation to a maximum of 20 minutes. After the presentations, each student will respond the questions of the evaluation committee.
p After the defence, the committee evaluation form <b>must be digitally signed by all members</b> and the secretary of the committee must store both evaluation (committee and supervisor') forms in the shared folder following this link:
    a(href=`${rubrics_folder}`)
        = ` ${rubrics_folder}`
p Please <strong>do not respond</strong> to this email.
