p Dear committee members,
p we remind you that you are part of the following defense committee:
ul
    li <strong>Author:</strong>
        = ` ${learner_name} <${learner_mail}>`
    li <strong>Title:</strong>
        = ` ${title}`
    li <strong>Abstract:</strong>
        = ` ${abstract}`
    li <strong>Committee:</strong>
        ul
            li <strong>President:</strong>
                = `${president}`
            li <strong>Secretary:</strong>
                = ` ${secretary}`
            li <strong>Vocal:</strong>
                = ` ${vocal}`
    li <strong>Place:</strong>
        = ` ${place}`
    li <strong>Place:</strong>
        = ` ${date}`
p You will find the rubric attached to this email.
p Please <strong>do not respond</strong> to this email.


