p Dears,
p <b>The details for the evaluation committee</b> of the Master Dissertation of
    = ` ${learner_name} are the following,`
ul
    li <strong>Author:</strong>
        = ` ${learner_name} <${learner_mail}>`
    li <strong>Title:</strong>
        = ` ${title}`
    li <strong>Advisors:</strong>
        = ` ${advisors}`
    li <strong>Committee:</strong>
        ul
            li <strong>President:</strong>
                = `${president}`
            li <strong>Secretary:</strong>
                = ` ${secretary}`
            li <strong>Vocal:</strong>
                = ` ${vocal}`
    li <strong>Defense date:</strong>
        = ` ${date} from ${start} to ${end}`
    li <strong>Place:</strong>
        = ` ${place} - ${room} `
        | (<a href="https://goo.gl/maps/nULM4dmFgp2cqJBi7">map</a>)

p <b>Before the viva</b>, the supervisors will send their evaluation form to the committee members and upload a copy to this <a href="https://uab-my.sharepoint.com/:f:/g/personal/1002248_uab_cat/Er7ik0TTmWxJt6m32PhPuR8BmED9SfeeblGz9UXhwmOb0Q?e=deOEyc">link</a>, in the corresponding student folder.
p The committee have to fill the attached evaluation form. Printed forms will be provided at the Defence Rooms.
p <b>During the viva</b>, the president of the committee should introduce the Student Name and the Title of the work to the audience, and take care of the following:
ul
    li The student must restrict the presentation to a maximum of <b>20 minutes</b>.
    li After the presentation, each student will respond the questions of the evaluation committee.
    li Once the committee finishes the Q&amp;A, the president can ask the supervisors and/or the audience in the room for some more Q&amp;A.
    li Finally, the president will inform that the student will receive the mark by e-mail once it is agreed and ask all the people attending the viva to quit the room to grade the work.

p <b>After the defence</b>, the committee members must fill and sign the Committee Evaluation form, and the secretary of the committee must <b>give it to the Master Coordinator</b> as soon as possible. The coordination must collect all the marks to rank the students and give the AWARDS at the end of the ACMCV event.
p The committees having one online member, will have to electronically sign the Rubric, but it can be done in the next days after the defences.

p Kind regards

p MCV M9 Coordination
p Please <strong>do not respond</strong> to this email, if more information is required, please contact M9 coordinators.
