p Dear Msc Advisor/s,
p we remind you that one of your advised learners will defend his/her Master Thesis. Please fill the attached Evaluation Form and <b>send it to the president of the committee</b> before the defense.
p The details of the defense are:
ul
    li <strong>Author:</strong>
        = ` ${learner_name} <${learner_mail}>`
    li <strong>Title:</strong>
        = ` ${title}`
    li <strong>Advisors:</strong>
        = ` ${advisors}`
    li <strong>Committee:</strong>
        ul
            li <strong>President:</strong>
                = `${president}`
            li <strong>Secretary:</strong>
                = ` ${secretary}`
            li <strong>Vocal:</strong>
                = ` ${vocal}`

    li <strong>Defense date:</strong>
        = ` ${date} from ${start} to ${end}`
    li <strong>Virtual Room URL:</strong>
        a(href=`${virtual_room}`)
            = ` ${virtual_room}`

p Kind regards

p MCV M9 Coordination
p Please <strong>do not respond</strong> to this email, if more information is required, please contact M9 coordinators.
