p Dear advisors,
p we remind you that one of your advised learners will defend their Master thesis. Please fullfil the attached evaluation rubric and sent it to the president of the committee before the defense.
p The details of the defense are:
ul
    li <strong>Author:</strong>
        = ` ${learner_name} <${learner_mail}>`
    li <strong>Title:</strong>
        = ` ${title}`
    li <strong>Advisors:</strong>
        = ` ${advisors}`
    li <strong>Abstract:</strong>
        = ` ${abstract}`
    li <strong>Committee:</strong>
        ul
            li <strong>President:</strong>
                = `${president}`
            li <strong>Secretary:</strong>
                = ` ${secretary}`
            li <strong>Vocal:</strong>
                = ` ${vocal}`
    li <strong>Place:</strong>
        = ` ${place} - ${room}`
    li <strong>Defense date:</strong>
        = ` ${date} from ${start} to ${end}`
p Please <strong>do not respond</strong> to this email.


